* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;


}

header h1 {
    font-weight: bold;
    color: yellow;
    padding-left: 20px;
    margin: 20px;
    padding-top: 8px;



}

header a {
    text-decoration: none;
    color: #fce138;

}

header nav {
    margin: 7px 0px;
    padding-top: 20px;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 20px;

}

header nav ul li {
    padding-right: 20px;
    font-size: 30px
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 5px solid;


}

header nav ul li a:hover {
    background-color: yellow;
    color: aqua;
}

.hero {

    display: flex;
    justify-content: space-between;
    background-image: url(old-brick-black-color-wall-260nw-1605128917.webp);
    background-size: cover;
    align-items: stretch;



}

#img img {
    size: 100px;
    height: 230px;


}

.subtitle {
    padding-top: 150px;
    padding-right: 80px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: blue;

}

.about-me {
    margin-top: 70px;
    display: flex;
    align-items: stretch;
    padding: 30px 20%;

}

.about-me h4 {
    padding-right: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.osman {
    border-left: solid;
    padding-left: 30px;
    line-height: 1.5;
}

.my-work {
    margin-top: 70px;
    display: flex;
    padding: 30px 20%;
    flex-wrap: wrap;
}

.my-work h4 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    padding-right: 61px;

}

.article {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2);
    justify-content: center;
    border-left: solid;
    padding-left: 30px;
}

.works {
    padding-right: 20px;
    width: 100%;
    background-image: url(hero-bg.jpg);
    background-size: contain;
    color: aqua;
    height: 200px;
    border: solid chocolate;
    cursor: pointer;
    font-size: 40px;


}

.works:hover {
    color: greenyellow;
    border-color: #fce138;

}

.works2 {

    width: 100%;
    background-image: url(download.jpg);
    color: red;
    border: solid chocolate;
    margin-top: 10px;
    font-size: 40px;
    cursor: pointer;

}


.works2:hover {
    color: #fce138;
    border-color: #fce138;

}

.works3 {
    width: 100%;
    background-image: url(portofolio.jpg);
    background-size: cover;
    color: chartreuse;
    border: solid chocolate;
    margin-top: 10px;

}

.works3:hover {
    color: #fce138;
    border-color: #fce138;
}

.works4 {
    width: 100%;
    background-image: url(food.jpg);
    background-size: cover;
    color: chartreuse;
    border: solid chocolate;
    margin-top: 10px;

}

.works4:hover {
    color: #fce138;
    border-color: #fce138;
}
.works5 {
    width: 100%;
    background-image: url(food.jpg);
    background-size: cover;
    color: chartreuse;
    border: solid chocolate;
    margin-top: 10px;

}

.works5:hover {
    color: #fce138;
    border-color: #fce138;
}
.works6 {
    width: 100%;
    background-image: url(food.jpg);
    background-size: cover;
    color: chartreuse;
    border: solid chocolate;
    margin-top: 10px;

}

.works6:hover {
    color: #fce138;
    border-color: #fce138;
}

.contact {
    margin-top: 70px;
    display: flex;
    align-items: stretch;
    padding: 30px 20%;
}

footer h4 {
    padding-right: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;



}

form {
    display: flex;
    justify-content: space-between;
    border-left: solid;
    width: 100%;
    padding-left: 90px;
    margin-left: 0px;
    padding-top: 60px;
}

@media screen and (max-width: 980px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative
    }

    header h1 {
        width: 100%;
        text-align: center;
        padding-right: 20px;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        padding-bottom: 30px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

    }

    .phone {
        padding-bottom: 20px;
    }

    .email {
        padding-bottom: 20px;
    }



}

@media screen and (max-width: 768px) {
    section {
        width: 100%;

    }

    .works h4 {
        font-size: 20px;
    }

    .works2 h4 {
        font-size: 20px;
        color: yellow;
    }

    .works3 h4 {
        font-size: 20px;
    }

}

@media screen and (max-width: 575px) {
    header nav ul li {
        display: flex;
        flex-direction: column;
    }

    .my-work {
        display: flex;
        height: 50%;
    }

}

.some-class {
    text-shadow: 5px 10px 15px black;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
}

.rounded-corners {
    -webkit-border-radius: 10px;
    /* old versions of chrome and safari */
    -moz-border-radius: 10px;
    /* old versions of firefox */
    border-radius: 10px;
    /* standardized browsers */
}